*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(135deg, #8052ec, #d161ff);
}

html{
    font-size: 16px;
}

.wrapper{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container{
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

.button-option{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 23vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 14vmin;
    color: #d161ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#restart{
    font-size: 1.3em;
    margin-top: 1.5em;
    padding: 1em;
    border-radius: 9px;
    background-color: #0a0027;
    color: #fff;
    border: none;
    position: relative;
    margin: 1.5rem auto 0 auto;
    display: block;
}

.popup{
    background: linear-gradient(135deg, #8052ec, #d161ff);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 12vmin;
}

#new-game{
    padding: 0.5em 1em;
    background-color: #0a0027;
    color: #fff;
    border-radius: o.5rem;
    border: none;
    font-size: 0.6em;
}

#message{
    color: #fff;
    text-align: center;
    font-size: 1em;
}

.popup.hide{
    display: none;
}