*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(135deg, #8052ec, #d161ff);
}

html{
    font-size: 16px;
}

.wrapper{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container{
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

.button-option{
    background: #fff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #d161ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#restart{
    font-size: 1.3rem;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 9px;
    background-color: #0a0027;
    color: #fff;
    border: none;
    position: relative;
    margin: 1.5rem auto 0 auto;
    display: block;
}